/* .contenedor {
  background-color: rgb(237, 237, 237);
}

.sidebar {
  position: fixed;
  width: 16%;
  height: 100vh;
  background: #064663;
  font-size: 0.65em;
  min-width: 170px;
  z-index: 1;
}

.nav {
  position: relative;
  margin: 0 10%;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}
.nav ul {
  list-style: none;
  font-size: 12px;
  position: relative;
  margin-left: -15px;
}
.nav ul :hover {
  transition: 0.4s ease;
  color: #23b9d3;
  transform: scale(1.1);
}
.active {
  display: flex;
  position: relative;
  margin: 3.2em 0;
}

.menu {
  position: relative;
  display: flex;
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  color: rgb(248, 243, 243);
  transition: all ease-out 300ms;
} */
body {
  margin: 0px;
  position: relative;
}

/*aqui comienza la nueva seccion inicio */
.inicio {
  text-align: center;
  height: 100vh;
  width: 100%;
  background: #041c32;
  overflow: auto;
}
/* vh significa que ocupa el 100% de la altura de la ventana */
h2 {
  margin-right: 200px;
  margin: 0%;
  color: rgb(185, 132, 132);
}
p {
  color: aliceblue;
}
.texth2 {
  color: rgb(244, 244, 244);
  font-size: 45px;
  font-family: "Times New Roman", Times, serif;
}
.presentacion {
  width: 60%;
  margin-left: 10%;
  margin-top: 5%;
}
.nombre {
  font-size: 30px;
  background: linear-gradient(to right, #820f82, #00ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Quicksand", sans-serif;
  margin-left: 40px;
  animation: backInDown;
  animation-duration: 1s;
}
.desarrollador1 {
  font-size: 60px;
  padding-top: 50px;
  margin-left: 20px;
  font-family: "Quicksand", sans-serif;
  background: linear-gradient(to right, #820f82, #00ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  animation: backInDown;
  animation-duration: 1s;
}

.parrafo {
  margin-top: 10px;
  width: 100%;
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  position: relative;
  color: #aec1ca;
  animation: backInUp;
  animation-duration: 1s;
}
.parrafo::before {
  content: " ";
  position: absolute;
  left: -30px;
  top: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  background-color: rgb(107, 199, 235);
}
.abrir-menu {
  display: none;
  margin-right: 1%;
  margin-top: 25px;
}
/* ::before es  un pseudoelemento que los que haces es permitirnos agregar estilos a una parte concreta del documento
como por ejemplo escrbrir sobre una imagen o agregarle cosas a un parrafo (concepto nuevo de css) */
/* .contenedorparrafo {
  margin-left: 200px;
  display: block;
  flex-direction: column;
  position: relative;
  line-height: 1.6;
  height: 200px;
}

/* ACA LA INFORMACION PERSONAL */
.informacion {
  text-align: center;
  height: 100vh;
  width: 100%;
  background: #041c32;
  margin: 0%;
}
.explaboral {
  color: white;
  margin-top: 55px;
  margin-left: 40%;
}
.especificacion {
  color: #23b9d3;
  margin-top: 35px;
  margin-bottom: 10px;
}
.tarjetaExpe {
  margin-left: 40%;
  margin-top: 50px;
}
.habilidades {
  color: white;
  font-size: 30px;
}
/* aca la de proyectos  */
.proyectos {
  text-align: center;
  height: 100vh;
  width: 100%;
  background: #041c32;
}
li {
  list-style: none;
}
.tarjeta {
  color: black;
  margin: 20px;
  height: 100%;
}
.contendorTarjetas {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 10%;
  margin: auto;
  padding: 10px;

}
.list-group-item {
  font-family: cursive, fantasy;
}
/* SECCION DE CONTACTO  */

.contacto {
  text-align: center;
  height: 100vh;
  width: 100%;
  background: #041c32;
}
.divider {
  height: 1px;
  background: linear-gradient(to right, #820f82, #00ffff);
}

/* CONTENEDORES DE DIVS ESTAN MESCLADOS  */

.conexpiencia {
  align-content: center;
  margin-left: 10%;
}
.contenedorinf {
  display: flex;
  margin-left: 300px;
}
.abrirmenu,
.cerrarmenu {
  display: none;
}
@media (max-width: 1200px) {
  .abrirmenu,
  .cerrarmenu {
    display: block;
  }
  /* .contenedorinf {
    flex-direction: column;
    margin: 0%;
  } */
  .contenedorinf {
    margin-left: 150px;
    align-items: center;
  }

  .sidebar {
    opacity: 0;
    visibility: hidden;
  }
  .sidebar.visible {
    opacity: 1;
    visibility: visible;
  }
  .inicio {
    width: 100v;
  }
}
@media (max-width: 600px) {
  .abrirmenu {
    position: fixed;
    margin-top: 70px;
    margin-left: 20px;
    opacity: 0.8;
    background: #041c32;
    color: white;
    font-size: 30px;
    border: none;
  }
  .cerrarmenu {
    background: #064663;
    border: none;
    font-size: 25px;
    color: white;
  }
  .sidebar {
    height: 100%;
  }
  .inicio {
    height: 100vh;
    width: 80vh;
  }
  .contenedorparrafo {
    margin-left: 00px;
    justify-content: center;
  }
  .presentacion {
    margin-left: 150px;
  }
  /*  */
  .informacion {
    width: 80vh;
    height: 100vh;
  }
  .contenedorinf {
    flex-direction: column;
    margin: 0%;
  }
  .explaboral {
    margin: 15px;
    margin-left: -5%;
  }
  .tarjetaExpe {
    margin-left: -5%;
    margin-top: 0px;
  }
  /*  */
  .proyectos {
    width: 80vh;
  }
  .contendorTarjetas {
    justify-content: center;
    align-items: center;
  }
  .tarjeta {
    margin-left: -10px;
    margin-top: 60px;
  }
  /*  */
  .contacto {
    width: 80vh;
  }
  
}
@media (max-width: 400px) {
  .tarjeta {
    margin: 5px;
    margin-top: 60px;
    margin-right: 20px;
  }
  
} */



 */


/* -----------------------------------------NEW STYLES---------------------------------------------- */
.container_profile{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.information_profile{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 10%;
}
.container_img_profile{
  display: flex;
  align-items: center;
  align-content: center;
  margin: auto;
  justify-content: center;
  width: 50%;
  height: 10%;
}
.style_img_profile{
  width:70%; 
  height:auto; 
  border-radius:30px;
  margin-top:100px;
  margin-right:10%
}
.subtitle_dev{
  color:rgb(184, 110, 0);
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}
/* Proyects.css */
.cardd {
  position: relative;
  width: 40%;
  /* height: 300px; */
  /* overflow: hidden; */
  background: #ffffff;
  border-radius: 10px;
}

.project-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.cardd:hover .project-info {
  opacity: 1;
}
.iconsExperience{
  margin-right: 10px;
  width: 1.5em;
  height: 1.5em;
}
.iconsExperienceProf{
  width: 2em;
  height: 2em;
  margin-right: 10px;
  margin-top: 10px;
  transition: transform 0.4s ease;
}
.iconsExperienceProf:hover {
  transform: scale(1.4); /* Escala el icono a 1.2 veces su tamaño original al hacer hover */
}
.conteinerProyects{
  display: flex;
 /* align-items: ; */
 justify-content: center;
 flex-direction: column;
  height: 80%;
}
.imgProyects{
  width: 100%;
  height: 90%;
}
.card-body:hover .project-info{
  opacity: 1;
  
}
.card-body {
  height: 50px;
}
.tarjeta:hover{
  height: 300px;

}
.tarjeta1{
  margin-top: 10px;
  margin-right: 00px;
}
.tarjeta2{
  margin-top: 10px;
  color: black;
  margin-left: 50%;
  height: 100%;
}
.iconContact{
  margin-right: 10%;
  
}
.contenedorcontac{
  flex-direction: column;
}
.contact-card {
  width: 40%; /* Tamaño de la tarjeta */
  height: 200px;
  padding: 20px;
  /* background-color: #041c32; */
  border-radius: 10px; /* Bordes redondeados */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); Sombra suave */
  text-align: center; /* Centrar contenido */
  margin: 0 auto; 
  /* border-color: white; */
  border: 1px solid white
}

.contact-title {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;

  border-radius: 10px;
}

.contact-icons {
  display: flex;
  justify-content: space-around; /* Espacio entre íconos */
  align-items: center;
}

.iconContact {
  color: #ffffff; /* Cambia los colores si es necesario */
  
}

.iconContact:hover{  
  box-shadow: 0 0 5px  #ffffff; /* Sombra blanca alrededor del ícono */
  transition:  0.3s ease; /* Transición suave del efecto hover */
  border-radius: 10px;
}