.contenedor {
  background-color: rgb(237, 237, 237);
}

.sidebar {
  position: fixed;
  width: 16%;
  height: 100vh;
  background: #064663;
  font-size: 0.65em;
  min-width: 170px;
}

.nav {
  position: relative;
  margin: 0 10%;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}
.nav ul {
  list-style: none;
  font-size: 12px;
  position: relative;
  margin-left: -15px;
}
.nav ul :hover {
  transition: 0.4s ease;
  color: #23b9d3;
  transform: scale(1.1);
}
.active {
  display: flex;
  position: relative;
  margin: 3.2em 0;
}

.menu {
  position: relative;
  display: flex;
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  color: rgb(248, 243, 243);
  transition: all ease-out 300ms;
}
body {
  margin: 0px;
  position: relative;
}

/*aqui comienza la nueva seccion inicio */
.inicio {
  text-align: center;
  height: 100vh;
  width: 100%;
  background: #041c32;
  overflow: auto;
}
/* vh significa que ocupa el 100% de la altura de la ventana */
h2 {
  margin-right: 200px;
  margin: 0%;
  color: rgb(185, 132, 132);
}
p {
  color: aliceblue;
}
.texth2 {
  color: rgb(244, 244, 244);
  font-size: 45px;
  font-family: "Times New Roman", Times, serif;
}
.presentacion {
  width: 60%;
  margin-left: 10%;
  margin-top: 5%;
}
.nombre {
  font-size: 30px;
  background: linear-gradient(to right, #820f82, #00ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Quicksand", sans-serif;
  margin-left: 40px;
}
.desarrollador1 {
  font-size: 60px;
  padding-top: 50px;
  margin-left: 00px;
  font-family: "Quicksand", sans-serif;
  background: linear-gradient(to right, #820f82, #00ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.parrafo {
  margin-top: 10px;
  width: 100%;
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  position: relative;
  color: #aec1ca;
}
.parrafo::before {
  content: " ";
  position: absolute;
  left: -30px;
  top: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  background-color: rgb(180, 188, 189);
}
.parrafo:hover {
  color: #ffffff;
}
.abrir-menu {
  display: none;
  margin-right: 1%;
  margin-top: 25px;
}
/* ::before es  un pseudoelemento que los que haces es permitirnos agregar estilos a una parte concreta del documento
como por ejemplo escrbrir sobre una imagen o agregarle cosas a un parrafo (concepto nuevo de css) */
.contenedorparrafo {
  margin-left: 200px;
  display: block;
  flex-direction: column;
  position: relative;
  line-height: 1.6;
  height: 300px;
}

/* ACA LA INFORMACION PERSONAL */
.informacion {
  text-align: center;
  height: 100vh;
  width: 100%;
  background: #041c32;
  margin: 0%;
}
.explaboral {
  color: white;
  margin-top: 55px;
  margin-left: 40%;
}
.especificacion {
  color: #23b9d3;
  margin-top: 35px;
  margin-bottom: 10px;
}
.tarjetaExpe {
  margin-left: 40%;
  margin-top: 50px;
}
.habilidades {
  color: white;
  font-size: 30px;
}
/* aca la de proyectos  */
.proyectos {
  text-align: center;
  height: 100vh;
  width: 100%;
  background: #041c32;
}
li {
  list-style: none;
}
.tarjeta {
  color: black;
  margin: 70px;
  height: 200px;
}
.contendorTarjetas {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 100px;
}
.list-group-item {
  font-family: cursive, fantasy;
}
/* SECCION DE CONTACTO  */

.contacto {
  text-align: center;
  height: 100vh;
  width: 100%;
  background: #041c32;
}
.divider {
  height: 1px;
  background: linear-gradient(to right, #820f82, #00ffff);
}
.listacontacto {
  text-align: left;
}
.listacontacto li {
  margin-bottom: 15px;
}
/* CONTENEDORES DE DIVS ESTAN MESCLADOS  */
.contenedorcontacto {
  margin-left: 300px;
  margin-top: 100px;
}
.conexpiencia {
  align-content: center;
  margin-left: 10%;
}
.contenedorinf {
  display: flex;
  margin-left: 300px;
}
.abrirmenu,
.cerrarmenu {
  display: none;
}
@media (max-width: 1200px) {
  .abrirmenu,
  .cerrarmenu {
    display: block;
  }
  /* .contenedorinf {
    flex-direction: column;
    margin: 0%;
  } */
  .contenedorinf {
    margin-left: 150px;
    align-items: center;
  }

  .sidebar {
    opacity: 0;
    visibility: hidden;
  }
  .sidebar.visible {
    opacity: 1;
    visibility: visible;
  }
  .inicio {
    width: 100v;
  }
}
@media (max-width: 600px) {
  .inicio {
    height: 100vh;
    width: 100vh;
  }
  /*  */
  .informacion {
    width: 100vh;
    height: 100vh;
  }
  .contenedorinf {
    flex-direction: column;
    margin: 0%;
  }
  .explaboral {
    margin: 15px;
    margin-left: -5%;
  }
  .tarjetaExpe {
    margin-left: -5%;
    margin-top: 0px;
  }
  /*  */
  .proyectos {
    width: 100vh;
  }
  .contendorTarjetas {
    justify-content: center;
    align-items: center;
  }
  .tarjeta {
    margin-left: 0px;
    margin-top: 60px;
  }
  /*  */
  .contacto {
    width: 100vh;
  }
  .contenedorcontacto {
    margin-left: 20%;
  }
}
@media (max-width: 400px) {
  .tarjeta {
    margin: 10px;
    margin-top: 60px;
  }
}
